html {
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    background-color: black;
}

h1{
    text-align: center;
    font-size: 100px;
    margin-bottom: 0px;
    size: 20%;
    color:crimson;
}

h2{
    text-align: center;
    font-size: 80px;
    margin-top: 0px;
    border-top: 0px;
    padding-top: 0px;
    size: 10%;
    color: beige;
}

a{
    font-weight: bold;
    color: gold;
}

ul {
    margin-left: 37%;
    font-size: 40px;
    font-style: italic;
    margin-top: 100px;
}